$width-left-menu: 12rem

$white: #fff
$red: #b61126

$font_OfficinaSerifBookITC: "OfficinaSerifBookITC", Arial, sans-serif
$font_OfficinaSerifMediumITCRegular: "OfficinaSerifMediumITCRegular", Arial, sans-serif
$font_PFDinDisplayPro-Light: "PFDinDisplayPro-Light", Arial, sans-serif
$font_OfficinaSerifMediumC: "OfficinaSerifMediumC", Arial, sans-serif


*
  margin: 0
  padding: 0
  font-size: 100%
  box-sizing: border-box
  outline: none
  line-height: 1.2

html, body, #app
  height: 100%


//html
//  margin-right: -14px
//  overflow: hidden

::-webkit-scrollbar
  width: 12px
  height: 12px
  background: rgba(0, 0, 0, .1)

//::-webkit-scrollbar:vertical
//  padding-right: 12px

::-webkit-scrollbar-thumb
  border-radius: 6px
  background: rgba(0, 0, 0, .2)

::-webkit-scrollbar:hover
  background: rgba(0, 0, 0, .1)

::-webkit-scrollbar-thumb:hover
  background: rgba(0, 0, 0, .4)


.layout
  height: 100%
  width: 100%
  display: block
  position: relative
  overflow: hidden
  padding-right: $width-left-menu

.left-menu
  display: block
  width: $width-left-menu
  background: $white
  position: fixed
  left: 0
  top: 0
  bottom: 0

.table-container
  display: block
  width: 100%
  height: 100%
  background: linear-gradient(to right, #ede9e3, #F8F6F5, #ede9e3)
  background-position-x: $width-left-menu
  margin-left: $width-left-menu
  overflow-y: scroll
  table
    border-collapse: collapse
    text-align: center
    th, td
      border: 1px solid $white
      padding: .2rem .5rem
      font-family: $font_PFDinDisplayPro-Light
      font-weight: normal
    th
      color: $white
    td
      font-size: .8rem

.table-header
  background: $red

.icon-moto
  background: url("../img/delivery-moto.png") center no-repeat
  background-size: contain
  width: 30px
  height: 19px
  margin: 0 auto
  display: block

.icon-cart
  background: url("../img/shopping-cart.png") center no-repeat
  background-size: contain
  width: 12px
  height: 15px
  display: inline-block
  margin-right: 0.4rem