$width-left-menu: 18rem

$white: #fff
$red: #b61126

$font_OfficinaSerifBookITC: "OfficinaSerifBookITC", Arial, sans-serif
$font_OfficinaSerifMediumITCRegular: "OfficinaSerifMediumITCRegular", Arial, sans-serif
$font_PFDinDisplayPro-Light: "PFDinDisplayPro-Light", Arial, sans-serif
$font_OfficinaSerifMediumC: "OfficinaSerifMediumC", Arial, sans-serif


*
  margin: 0
  padding: 0
  font-size: 100%
  box-sizing: border-box
  outline: none
  line-height: 1.2
  user-select: none
  cursor: default

a
  cursor: pointer
  *
    cursor: pointer

input
  cursor: text

html, body, #app
  height: 100%


//html
//  margin-right: -14px
//  overflow: hidden

::-webkit-scrollbar
  width: 12px
  height: 12px
  background: rgba(0, 0, 0, .1)

//::-webkit-scrollbar:vertical
//  padding-right: 12px

::-webkit-scrollbar-thumb
  border-radius: 6px
  background: rgba(0, 0, 0, .2)

::-webkit-scrollbar:hover
  background: rgba(0, 0, 0, .1)

::-webkit-scrollbar-thumb:hover
  background: rgba(0, 0, 0, .4)


.layout
  height: 100%
  width: 100%
  display: block
  position: relative
  overflow: hidden
  padding-right: $width-left-menu


/////////////// Left Menu //////////////////

.left-menu
  display: block
  width: $width-left-menu
  background: $white
  border-right: 1px solid $white
  position: fixed
  left: 0
  top: 0
  bottom: 0
  .table-header
    padding: 1.25rem 0

.logo-container
  background: url("../img/logo-kfc_white.png") center no-repeat
  background-size: contain
  width: 76px
  height: 20px
  display: inline-block
  vertical-align: middle
  margin-right: 1rem
  margin-left: .8rem

.left-menu-container
  padding-left: .8rem
  width: 84%
  overflow-y: scroll
  height: 100%
  padding-bottom: 4rem

.left-menu-container::-webkit-scrollbar /* хром, сафари */
  width: 0
.left-menu-container /* ie 10+ */
  -ms-overflow-style: none
.left-menu-container /* фф (свойство больше не работает, других способов тоже нет)*/
  overflow: -moz-scrollbars-none

.date-container
  display: inline-block
  vertical-align: middle
  color: $white

.datepicker
  padding-top: 1.3rem

.button-standart
  background: $red
  display: block
  text-align: center
  padding: .65rem
  border-radius: .4rem
  font-family: $font_OfficinaSerifMediumITCRegular
  font-weight: normal
  .button-img-left
    background: url("../img/icon-plus.png") center no-repeat
    background-size: contain
    width: 13px
    height: 13px
    display: inline-block
    vertical-align: middle
    margin-left: -23px
    margin-right: 10px
  .button-text
    display: inline-block
    vertical-align: middle
    color: $white
    font-family: $font_OfficinaSerifMediumITCRegular
    font-weight: normal

.left-menu-container
  >.button-standart
    margin-top: 1.5rem

.search
  padding-top: 1rem
  input
    background: url("../img/icon-search.png") center no-repeat
    background-size: auto
    background-position-x: 1rem
    width: 100%
    padding: .65rem
    padding-left: 2.6rem
    border-radius: .4rem
    border: 1px solid #C2C2C2

.orders-delivery, .waiting-assessment, .zones-control
  font-size: .8rem
  font-family: $font_PFDinDisplayPro-Light
  padding-top: 1.5rem
  a
    float: right
    text-decoration: underline
    font-size: .65rem

.block-title
  display: block
  border-bottom: 1px solid $red
  padding-bottom: .3rem
  margin-bottom: .2rem
  color: $red

.block-row
  display: block

.block-info
  display: inline-block

.block-nth
  display: inline-block
  float: right
  color: $red

.auth-user
  padding-top: 1.5rem
  font-size: .8rem
  font-family: $font_PFDinDisplayPro-Light

.icon-user
  background: url("../img/icon-user.png") center no-repeat
  background-size: contain
  width: 22px
  height: 22px
  display: inline-block
  vertical-align: middle

.user-name
  display: inline-block
  vertical-align: middle
  padding-left: .3rem
  color: #75696a

.exit-button
  display: inline-table
  vertical-align: middle
  float: right
  padding-top: .3rem
  font-size: .7rem
  text-decoration: underline
  color: $red


/////////////// Content //////////////////

.table-container
  display: block
  width: 100%
  height: 100%
  background: linear-gradient(to right, #ede9e3, #F8F6F5, #ede9e3)
  background-position-x: $width-left-menu
  margin-left: $width-left-menu
  overflow-y: scroll
  table
    border-collapse: collapse
    text-align: center
    width: 100%
    tr
      height: 65px
    th:first-child, td:first-child
      border-left: none
    th, td
      border: 1px solid $white
      padding: .2rem .5rem
      font-family: $font_PFDinDisplayPro-Light
      font-weight: normal
    th
      color: $white
      border-top: none
      line-height: 1.1
    td
      font-size: .75rem
      padding-top: .8rem
      padding-bottom: .8rem
    a
      text-decoration: underline
      color: $red
    span
      display: block

  .icon-status_container
    width: 35px
    height: 65px
    position: absolute
    border: 1px solid white
    border-right: none
    left: 15.75rem
    border-radius: 40px 0 0 40px

  .notification-row
    span, a, td, span:last-child
      color: $white
    .icon-moto
      background: url("../img/delivery-moto_white.png") center no-repeat
      background-size: contain
    .icon-cart
      background: url("../img/shopping-cart_white.png") center no-repeat
      background-size: contain
    .icon-map
      background: url("../img/map-icon_white.png") center no-repeat
      background-size: contain
    .icon-status
      width: 100%
      height: 100%

  .lb-cellphone
    background-color: #30738E
    .icon-status_container
      background-color: #30738E
    .icon-status
      background: url("../img/lb-cellphone.png") center no-repeat
      background-size: 50%
      background-position-x: 12px

  .lb-incoming
    background-color: #03E3AF
    .icon-status_container
      background-color: #03E3AF
    .icon-status
      background: url("../img/lb-incoming.png") center no-repeat
      background-size: 50%
      background-position-x: 12px

  .lb-nomarker
    background-color: #FF4F3C
    .icon-status_container
      background-color: #FF4F3C
    .icon-status
      background: url("../img/lb-nomarker.png") center no-repeat
      background-size: 50%
      background-position-x: 12px

  .lb-warning
    background-color: #C21B2B
    .icon-status_container
      background-color: #C21B2B
    .icon-status
      background: url("../img/lb-warning.png") center no-repeat
      background-size: 50%
      background-position-x: 12px


  .column-total, .column-amount
    span, a
      display: inline-block
      vertical-align: middle

.header-number
  min-width: 4rem
.header-payment_order, .header-payment_delivery, .header-amount
  max-width: 5rem

.table-header
  background: $red
  height: 4rem

.column-date, .column-time_issue
  span
    color: $red
  span:first-child
    font-size: 1.1rem

.column-type
  span:last-child
    color: $red

.column-courier
  span:last-child
    color: $red
  p
    display: inline-block
    vertical-align: middle
  p, span
    text-decoration: underline
    white-space: nowrap

.icon-moto
  background: url("../img/delivery-moto.png") center no-repeat
  background-size: contain
  width: 27px
  height: 17px
  margin: 0 auto
  display: block

.icon-cart
  background: url("../img/shopping-cart.png") center no-repeat
  background-size: contain
  width: 12px
  height: 15px
  display: inline-block
  margin-right: 0.4rem

.icon-map
  background: url("../img/map-icon.png") center no-repeat
  background-size: contain
  width: 11px
  height: 12px
  display: inline-block
  margin-right: 0.4rem

///////////// Calendar ///////////////

.datepicker
  .date-picker
    height: 260px !important
  .dp-cell, .dp-row, .date-picker
    border: none !important
    border-left: none !important
    border-top: none !important
    font-family: $font_PFDinDisplayPro-Light !important
    font-weight: normal !important
  .dp-nav-view
    flex: 1.8 !important
    text-transform: uppercase
  .dp-footer-selected
    display: none
  .dp-week-day-name
    color: $red
  .dp-current
    color: $red !important
    font-weight: bold !important
  .dp-prev, .dp-next
    color: #efefef !important
  .dp-prev-nav, .dp-next-nav
    font-size: 1.2rem
  .dp-prev-nav
    justify-content: flex-end
  .dp-next-nav
    justify-content: flex-start
  .dp-footer-today
    position: absolute
    top: 0
    color: transparent
    left: 105px
    height: 4rem
    width: 11.35rem


///////////// Modal ///////////////

.modal-close
  display: none

.modal-call.modal-open
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, .7)
  left: $width-left-menu
  padding-right: $width-left-menu
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  .modal-container
    width: 20rem
    height: auto
    padding: 1.6rem 4rem
    border-radius: .3rem
    background: $red
    text-align: center
  .modal-img
    background: url("../img/img-calling_white.png") center no-repeat
    background-size: contain
    width: 100px
    height: 74px
    margin: 0 auto
    display: block
    margin-bottom: .6rem
  .modal-tel
    color: $white
    font-family: $font_PFDinDisplayPro-Light
    font-weight: normal
    font-size: 2rem
    margin-bottom: 0
  .modal-cart
    color: $white
    font-family: $font_PFDinDisplayPro-Light
    font-weight: normal
    margin-bottom: .6rem
  .button-white
    background: $white
    display: inline-block
    color: $red
    padding-left: 2rem
    padding-right: 2rem
    margin-bottom: .6rem